<div class= "container-fluid">
	<div class="row">
		<div class="col-xs-12 search-form">
			<form action="/index_by_tag" method="get">
				<input type="text" name="tag" placeholder="search by tag">
				<button type="submit" class="btn btn-primary search-go">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button><br>
			</form>
		</div>

		<div class="col-xs-12 search-error">
			<p><%= @nonexistent_tag_error %></p>
		</div>

		<div class="col-xs-12 search-form">
			<form action="/index_by_date" method="get">
				<input type="text" name="selected_date" placeholder="search by YYYY-MM-DD">
				<button type="submit" class="btn btn-primary search-go">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button><br>
			</form>
		</div>

		<div class="col-xs-12 search-error">
			<p><%= @nonexistent_date_error %></p>
		</div>

		<div class="col-xs-12 search-form">
			<form action="/index_by_keyword" method="get">
				<input type="text" name="keyword" placeholder="search by keyword">
				<button type="submit" class="btn btn-primary search-go">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			</form>
		</div>

		<div class="col-xs-12 search-error">
			<p><%= @nonexistent_keyword_error %></p>
		</div>

	</div>
	<div class="row empty-space"></div>
	<div class="row empty-space"></div>
	<div class="row empty-space"></div>
</div>
