<div class= "container-fluid">

	<div class="user-profile">

		<div class="row">
			<div class="col-xs-12">
        <%= @user.first_name %>
        <%= @user.last_name %>
			</div>
    </div>

    <div class="row">
			<div class="col-xs-12">
        <%= @user.email_address  %>
			</div>
    </div>

		</div>
	</div>

</div>
